@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-Bold.eot');
    src: url('../fonts/raleway/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/raleway/Raleway-Bold.woff') format('woff'),
        url('../fonts/raleway/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-Regular.eot');
    src: url('../fonts/raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/raleway/Raleway-Regular.woff') format('woff'),
        url('../fonts/raleway/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-SemiBold.eot');
    src: url('../fonts/raleway/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway/Raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/raleway/Raleway-SemiBold.woff') format('woff'),
        url('../fonts/raleway/Raleway-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-ExtraBold.eot');
    src: url('../fonts/raleway/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway/Raleway-ExtraBold.woff2') format('woff2'),
        url('../fonts/raleway/Raleway-ExtraBold.woff') format('woff'),
        url('../fonts/raleway/Raleway-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Medium.eot');
    src: url('Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('Raleway-Medium.woff2') format('woff2'),
        url('Raleway-Medium.woff') format('woff'),
        url('Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}